html,body{
    background: #222222;
}
.first-jumb{
    margin-top: 50px;
    text-align: center;
    color: #FFF;
    background: #222222;
    margin-bottom: 0;
    /*background: url(../img/bg/home.jpg);*/
}
.why-jumb{
    background: #222222;
    color: #FFF;
}
.first-jumb  h1{
    font-weight: bold;
    font-size: 78px;
}
.second-jumb{
    margin-top: 0;
    text-align: center;
    background: #FFF;
    margin-bottom: 0;
    color:#333;
}
.third-jumb{
    color: #FFF;
    background: #222;
    margin-top: 0;
    margin-bottom: 0;
}
.half-jumb{
    background: #FFF;
}
.btn-lg{
    border-radius: 50px;
}

.second-jumb .btn-lg{
    background: rgba(54, 54, 54, 1);
    color: #FFF;
}
.second-jumb .btn-lg:hover{
    background: #000;
}

.white-btn-lg{
    background: rgba(255, 255, 255, 0.9);
}
.white-btn-lg:hover{
    background: #FFF;
}

.last-jumb{
    color: #FFF;
    background: #222222;
    margin-bottom: -70px;
}
.left-jumb{
    background: #222;
    margin-bottom: 0;
    color:#FFF;
}
.right-jumb{
    text-align: right;
    margin-top: 0;
    padding:0!important;
    background: #222;
    color:#FFF;
}
.footer{
    margin-bottom: -120px;
}
.col-sm-4 {
    background: #FFF;
}
.last-jumb .right-jumb{
    text-align: center;
}